.team-member-3 {
  position: relative;
  max-width: 380px;
  max-height: 470px;
  background-image: url(../img/team-member-4.jpg);
  background-repeat: no-repeat;
  overflow: hidden;
  text-align: center;
}